.detail{
    background-color: #eedbd8;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
}

.description{
    margin-left: 30px;
}

.imagen{
    width: 500px;
    height: 500px;
}